<div class="bg-gray-100 w-full overscroll-auto">
  <div class="text-5xl mb-6 p-6 bg-blue-100 font-mono underline tracking-widest">SYLLABLES</div>
  <div class="md:grid md:grid-cols-3 gap-4">
    <mat-card class="col-start-2 col-span-1 m-6 ">
      <mat-card-content>
        <app-text-editor></app-text-editor>
      </mat-card-content>
      <mat-card-actions>
        <section class="py-2">
          <mat-slide-toggle [formControl]="spellcheck" class="pr-3"></mat-slide-toggle>
          <mat-label>Sprawdzanie pisowni</mat-label>
        </section>
      </mat-card-actions>
    </mat-card>

  </div>
<footer>
  <div>By Michał Witkowski</div>
  <a href="https://github.com/mi-wit" class="hover:bg-yellow-200">Github</a>
</footer>
</div>
