<div class="felx overflow-scroll ">
    <mat-drawer-container>
        <mat-drawer class="overflow-hidden" mode="side" opened>
            <div class="py-1 pr-3 leading-loose h-full">
                <ng-container *ngFor="let line of lines; index as i">
                    <div class="text-gray-600 font-mono font-extrabold">
                        <ng-container *ngIf="numberOfSyllables[i] !== 0">{{numberOfSyllables[i]}}</ng-container>
                        <ng-container *ngIf="numberOfSyllables[i] === 0"><div class="text-gray-300">-</div></ng-container>
                    </div>
                </ng-container>
            </div>
        </mat-drawer>
        <mat-drawer-content>

            <textarea 
            class="pl-3 pt-1 pr-6 w-full whitespace-pre leading-loose resize-none"
            
            [formControl]="text"
            [spellcheck]="spellcheck"
            [rows]="lines.length"
            placeholder="Text"
            >
        </textarea>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
